* {
  font-family: $--font-default;
  line-height: initial;
}

.title-block {
  margin-bottom: 42px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;

  .link-black {
    margin-bottom: 8px;
  }
}

h1, .h1 {

}

h2 ,.h2 {

}

h3, .h3 {
  font-size: 40px;
  font-weight: 500;
  line-height: 42px;
  letter-spacing: 0.01em;
}

h4 .h4 {

}

h5, .h5 {
  font-size: 24px;
  font-weight: 600;
  line-height: 31px;
  color: $--color-default;
}

h6, .h6 {
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.0015em;
  margin: 0;
  color: $--color-default;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

p {
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0.0025em;
  color: $--color-default;
}

.link-black {
  color: $--color-default;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0.0125em;

  &:hover {
    color: $--color-purple-dark;
  }
  &:focus {
    color: $--color-purple;
  }
}

.link-purple {
  color: $--color-purple;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0.0125em;
}

