.footer-menu {
  list-style: none;
  padding: 0;
  margin: 0 0 38px;
  display: flex;
  width: 100%;
  justify-content: space-between;

  li {

    a {
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0.005em;
      color: $--color-white;
    }
  }
}

.secondary-menu {
  padding: 0;
  list-style: none;
  display: block;
  column-count: 2;
  margin: 0;

  li {
    margin-bottom: 10px;

    a {
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0.005em;
      color: $--color-white;
    }

  }

}
