.testimonials-section {
  position: relative;
  margin: 170px 0 40px;

  &:after {
    content: "";
    display: block;
    width: 100%;
    height: 330px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 83.5%);
  }

  .testimonials-grid {
    column-count: 3;
    gap: 30px;
    width: 100%;

    .testimonial {
      padding: 30px 20px;
      border-radius: 20px;
      margin-bottom: 30px;
      display: inline-block;

      .testimonial-author {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 15px;

        .testimonial-name {
          font-size: 16px;
          font-weight: 300;
          line-height: 20px;
          letter-spacing: 0.0025em;
          color: $--color-default;
        }
        .testimonial-rating {

        }
      }
    }
  }

}
