<!--header.html-->
<%= _.template(require('../includes/common/header.html').default)({}) %>




<section class="contact-form-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-m-12">
                <div class="contact-form-info">
                    <div class="h2">Get in touch with us</div>
                    <div class="content-bottom">
                        <div class="content-description">
                            <p>For general questions, please send us a message and we’ll get right back to you. You can also call us directly to speak with our experts.</p>
                        </div>
                        <a href="#" class="btn btn-black">Get consultation</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-m-12">
                <div class="form-wrapper">

                </div>
            </div>
        </div>
    </div>
</section>

<section class="contact-section">
    <div class="container">
        <div class="title-head">
            <h1>Contact Us</h1>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-m-12 card-first">
                <div class="contact-card">
                    <div class="h5">Clinic Location</div>
                    <div class="contact-item contact-item-address">
                        4290 Professional Center Dr, Suite 309, Palm Beach Gardens, FL 33410
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-m-12 card-second">
                <div class="contact-card">
                    <div class="h5">Contact Info</div>
                    <a href="#" class="contact-item contact-item-phone">
                        1-866-725-6172
                    </a>
                    <a href="#" class="contact-item contact-item-mail">
                        info@slimclinic.com
                    </a>
                </div>
            </div>
            <div class="col-lg-5 col-md-8 col-m-12 card-third">
                <div class="contact-card">
                    <div class="h5">Business Hours</div>
                    <div class="contact-item contact-item-time">
                        <div class="contact-time-wrapper">
                            <div class="work-time">
                                <div class="work-day">Monday-Thursday</div>
                                <div class="work-time">09:00 am – 08:00 pm</div>
                            </div>
                            <div class="work-time">
                                <div class="work-day">Friday</div>
                                <div class="work-time">09:00 am – 05:00 pm</div>
                            </div>
                            <div class="work-time">
                                <div class="work-day">Saturday-Sunday</div>
                                <div class="work-time">Closed</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-6 col-m-12 card-fourth">
                <div class="contact-map-wrapper">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3559.925190966162!2d-80.09742159999999!3d26.842331599999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88df2aa7453f4117%3A0x3abfc9d0b5324a0b!2s4290%20Professional%20Center%20Dr%20%23309%2C%20Palm%20Beach%20Gardens%2C%20FL%2033410%2C%20%D0%A1%D0%A8%D0%90!5e0!3m2!1sru!2sru!4v1723711505499!5m2!1sru!2sru" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>
</section>



<!--footer.html-->
<%= _.template(require('../includes/common/footer.html').default)({}) %>