<!--header.html-->
<%= _.template(require('../includes/common/header.html').default)({}) %>

<%= _.template(require('../includes/banner-image.html').default)({}) %>

<%= _.template(require('../includes/image-banner-section.html').default)({}) %>

<%= _.template(require('../includes/mini-calc-section.html').default)({}) %>

<%= _.template(require('../includes/treatments-section.html').default)({}) %>

<%= _.template(require('../includes/how-work-section.html').default)({}) %>

<%= _.template(require('../includes/image-banner-section-second.html').default)({}) %>

<%= _.template(require('../includes/testimonials.html').default)({}) %>

<%= _.template(require('../includes/specialists-section.html').default)({}) %>

<%= _.template(require('../includes/faq-section.html').default)({}) %>

<section class="image-banner-section image-banner-section-third">
  <div class="container">
    <div class="image-banner back-grey">
      <div class="row">
        <div class="col-lg-6">
          <div class="image-banner-content">
            <div class="h3">It's not a miracle, it's metabolic science.</div>
            <div class="banner-description">
              <p>Traditional dieting frequently proves ineffective, with genetics influencing approximately 70% of an individual's weight.
                Medications provide a fresh approach, harmonizing with your body's processes to promote sustainable and healthy weight loss results.</p>
            </div>
            <div class="image-banner-links">
              <a href="#" class="btn btn-black">Get Started</a>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="image-wrapper">
            <img src="./img/image-banner-img4.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--footer.html-->
<%= _.template(require('../includes/common/footer.html').default)({}) %>
