<!--header.html-->
<%= _.template(require('../includes/common/header.html').default)({}) %>

<%= _.template(require('../includes/banner-image.html').default)({}) %>

<%= _.template(require('../includes/image-banner-section.html').default)({}) %>

<%= _.template(require('../includes/mini-calc-section.html').default)({}) %>

<%= _.template(require('../includes/treatments-section.html').default)({}) %>

<section class="card-list-section card-list-section-index">
  <div class="container">
    <div class="title-block">
      <h2>How we work</h2>
    </div>
    <div class="card-steps-list">
      <div class="steps-card back-grey">
        <div class="row">
          <div class="col-lg-6 col-md-6">
            <div class="card-content">
              <div class="card-step">Step</div>
              <div class="h5">Call Our Office</div>
              <div class="card-description">
                <p>Fill out a brief medical history form to help your provider tailor the most effective treatment plan for you. It's quick, simple, and complimentary.</p>
              </div>
              <a href="#" class="link-purple">Contact us</a>
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="image-wrapper">
              <img src="./img/work-step-img-1.png" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="steps-card back-grey">
        <div class="row">
          <div class="col-lg-6 col-md-6">
            <div class="card-content">
              <div class="card-step">Step</div>
              <div class="h5">Meet the doctor</div>
              <div class="card-description">
                <p>Have a chat with a licensed physician or nurse practitioner about your condition through a convenient online consultation.</p>
              </div>
              <a href="#" class="link-purple">Meet our experts</a>
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="image-wrapper">
              <img src="./img/work-step-img-2.png" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="steps-card back-grey">
        <div class="row">
          <div class="col-lg-6 col-md-6">
            <div class="card-content">
              <div class="card-step">Step</div>
              <div class="h5">Get your medication</div>
              <div class="card-description">
                <p>Get your medication delivered to your doorstep with free shipping included in all programs. Reach out to your provider whenever you require assistance.</p>
              </div>
              <a href="#" class="link-purple">Our Locations</a>
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="image-wrapper">
              <img src="./img/work-step-img-3.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<%= _.template(require('../includes/image-banner-section-second.html').default)({}) %>

<%= _.template(require('../includes/testimonials.html').default)({}) %>

<%= _.template(require('../includes/specialists-section.html').default)({}) %>

<%= _.template(require('../includes/faq-section.html').default)({}) %>

<section class="image-banner-section image-banner-section-third">
  <div class="container">
    <div class="image-banner back-grey">
      <div class="row">
        <div class="col-lg-6 col-md-7 col-m-12">
          <div class="image-banner-content">
            <div class="title-block">
              <h2>It's not a miracle, <br> it's metabolic science.</h2>
            </div>
            <div class="banner-description">
              <p>Traditional dieting frequently proves ineffective, with genetics influencing approximately 70% of an individual's weight.
                Medications provide a fresh approach, harmonizing with your body's processes to promote sustainable and healthy weight loss results.</p>
            </div>
            <div class="image-banner-links">
              <a href="#" class="btn btn-black">Get Started</a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-5 col-m-12">
          <div class="image-wrapper image-wrapper-pc">
            <img src="./img/image-banner-img4.png" alt="">
          </div>
          <div class="image-wrapper image-wrapper-tablet">
            <img src="./img/img12ds.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--footer.html-->
<%= _.template(require('../includes/common/footer.html').default)({}) %>
