<!--header.html-->
<%= _.template(require('../includes/common/header.html').default)({}) %>



<section class="locations-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-12 col-m-12">
                <div class="title-head">
                    <h1>Locations</h1>
                    <div class="locations-total">12 356</div>
                </div>
            </div>
            <div class="col-lg-9 col-md-12 col-m-12">
                <div class="right-bar-wrapper">
                    <div class="search-wrapper">
                        <input type="search" placeholder="Search your locations">
                        <button class="search-btn" type="submit"></button>
                    </div>
                    <div class="link-view-all link-view-all-tablet">View all locations</div>
                    <div class="btn btn-black btn-locations">List of states</div>
                </div>
            </div>
        </div>
        <div class="locations-list">
            <ul>
                <li>Alabama</li>
                <li>georgia</li>
                <li>maryland</li>
                <li>nevada</li>
                <li>oregon</li>
                <li>west Virginia</li>
                <li>arizona</li>
                <li>hawaii</li>
                <li>massachusetts</li>
                <li>new Hampshire</li>
                <li>pennsylvania</li>
                <li>wisconsin</li>
                <li>arkansas</li>
                <li>illinois</li>
                <li>michigan</li>
                <li>new Jersey</li>
                <li>south Carolina</li>
                <li>california</li>
                <li>indiana</li>
                <li>minnesota</li>
                <li>new Mexico</li>
                <li>tennessee</li>
                <li>colorado</li>
                <li>kansas</li>
                <li>mississippi</li>
                <li>new York</li>
                <li>texas</li>
                <li>connecticut</li>
                <li>kentucky</li>
                <li>missouri</li>
                <li>north Carolina</li>
                <li>utah</li>
                <li>florida</li>
                <li>maine</li>
                <li>montana</li>
                <li>ohio</li>
                <li>virginia</li>
            </ul>
            <div class="link-view-all link-view-all-pc">View all locations</div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-m-12">
                <div class="location-card">
                    <div class="location-map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3021.867331448377!2d-73.9751139!3d40.76494259999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c258f093005c13%3A0x9a080a7c7cc16226!2zMzAgQ2VudHJhbCBQYXJrIFMgIzEwYiwgTmV3IFlvcmssIE5ZIDEwMDE5LCDQodCo0JA!5e0!3m2!1sru!2sru!4v1723625325384!5m2!1sru!2sru" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    <div class="location-content">
                        <div class="location-name">
                            Santa Barbara
                            <div class="location-state">
                                North Carolina
                            </div>
                        </div>
                        <div class="location-address">30 Central Park South, Ste 10B New York, NY 10019</div>
                        <div class="location-links">
                            <a href="#" class="link-purple">Call Now</a>
                            <a href="#" class="link-black">More info</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-m-12">
                <div class="location-card">
                    <div class="location-map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3021.867331448377!2d-73.9751139!3d40.76494259999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c258f093005c13%3A0x9a080a7c7cc16226!2zMzAgQ2VudHJhbCBQYXJrIFMgIzEwYiwgTmV3IFlvcmssIE5ZIDEwMDE5LCDQodCo0JA!5e0!3m2!1sru!2sru!4v1723625325384!5m2!1sru!2sru" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    <div class="location-content">
                        <div class="location-name">
                            Santa Barbara
                            <div class="location-state">
                                North Carolina
                            </div>
                        </div>
                        <div class="location-address">30 Central Park South, Ste 10B New York, NY 10019</div>
                        <div class="location-links">
                            <a href="#" class="link-purple">Call Now</a>
                            <a href="#" class="link-black">More info</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-m-12">
                <div class="location-card">
                    <div class="location-map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3021.867331448377!2d-73.9751139!3d40.76494259999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c258f093005c13%3A0x9a080a7c7cc16226!2zMzAgQ2VudHJhbCBQYXJrIFMgIzEwYiwgTmV3IFlvcmssIE5ZIDEwMDE5LCDQodCo0JA!5e0!3m2!1sru!2sru!4v1723625325384!5m2!1sru!2sru" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    <div class="location-content">
                        <div class="location-name">
                            Santa Barbara
                            <div class="location-state">
                                North Carolina
                            </div>
                        </div>
                        <div class="location-address">30 Central Park South, Ste 10B New York, NY 10019</div>
                        <div class="location-links">
                            <a href="#" class="link-purple">Call Now</a>
                            <a href="#" class="link-black">More info</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-m-12">
                <div class="location-card">
                    <div class="location-map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3021.867331448377!2d-73.9751139!3d40.76494259999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c258f093005c13%3A0x9a080a7c7cc16226!2zMzAgQ2VudHJhbCBQYXJrIFMgIzEwYiwgTmV3IFlvcmssIE5ZIDEwMDE5LCDQodCo0JA!5e0!3m2!1sru!2sru!4v1723625325384!5m2!1sru!2sru" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    <div class="location-content">
                        <div class="location-name">
                            Santa Barbara
                            <div class="location-state">
                                North Carolina
                            </div>
                        </div>
                        <div class="location-address">30 Central Park South, Ste 10B New York, NY 10019</div>
                        <div class="location-links">
                            <a href="#" class="link-purple">Call Now</a>
                            <a href="#" class="link-black">More info</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-m-12">
                <div class="location-card">
                    <div class="location-map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3021.867331448377!2d-73.9751139!3d40.76494259999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c258f093005c13%3A0x9a080a7c7cc16226!2zMzAgQ2VudHJhbCBQYXJrIFMgIzEwYiwgTmV3IFlvcmssIE5ZIDEwMDE5LCDQodCo0JA!5e0!3m2!1sru!2sru!4v1723625325384!5m2!1sru!2sru" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    <div class="location-content">
                        <div class="location-name">
                            Santa Barbara
                            <div class="location-state">
                                North Carolina
                            </div>
                        </div>
                        <div class="location-address">30 Central Park South, Ste 10B New York, NY 10019</div>
                        <div class="location-links">
                            <a href="#" class="link-purple">Call Now</a>
                            <a href="#" class="link-black">More info</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-m-12">
                <div class="location-card">
                    <div class="location-map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3021.867331448377!2d-73.9751139!3d40.76494259999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c258f093005c13%3A0x9a080a7c7cc16226!2zMzAgQ2VudHJhbCBQYXJrIFMgIzEwYiwgTmV3IFlvcmssIE5ZIDEwMDE5LCDQodCo0JA!5e0!3m2!1sru!2sru!4v1723625325384!5m2!1sru!2sru" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    <div class="location-content">
                        <div class="location-name">
                            Santa Barbara
                            <div class="location-state">
                                North Carolina
                            </div>
                        </div>
                        <div class="location-address">30 Central Park South, Ste 10B New York, NY 10019</div>
                        <div class="location-links">
                            <a href="#" class="link-purple">Call Now</a>
                            <a href="#" class="link-black">More info</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-m-12">
                <div class="btn btn-locations-more">View more</div>
            </div>
        </div>
    </div>
</section>



<!--footer.html-->
<%= _.template(require('../includes/common/footer.html').default)({}) %>