<!--header.html-->
<%= _.template(require('../includes/common/header.html').default)({}) %>

<%= _.template(require('../includes/drug-banner.html').default)({}) %>

<%= _.template(require('../includes/block-image-w-text.html').default)({}) %>

<%= _.template(require('../includes/card-list-section.html').default)({}) %>

<%= _.template(require('../includes/before-after.html').default)({}) %>

<%= _.template(require('../includes/block-w-request.html').default)({}) %>

<%= _.template(require('../includes/card-list-w-icons.html').default)({}) %>

<section class="block-with-image">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="image-wrapper">
          <img src="./img/block-image.jpg" alt="">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="title-block">
          <h2>Possible Side Effects</h2>
        </div>
        <div class="block-content">
          <p>
            Because Tirzepatide alters how the digestive system processes food, you may experience various stomach-related side effects during the first few weeks of treatment. The most common issues that patients commonly report include:
          </p>
          <ul>
            <li>Diarrhea</li>
            <li>Nausea</li>
            <li>Vomiting</li>
            <li>Stomach pain</li>
            <li>Constipation</li>
            <li>Lack of appetite</li>
            <li>Heartburn</li>
          </ul>
          <p>
            Irritation or redness at the injection site
          </p>
          <p>
            Tirzepatide works to lower your glucose, so there’s also a chance that you’ll experience hypoglycemia (low blood sugar) as a side effect. Your physician will likely recommend that you monitor your glucose before and after meals to ensure your blood sugar levels aren’t dropping below healthy parameters.
          </p>
          <p>
            In most cases, the side effects associated with Tirzepatide are usually mild and typically subside over time as your body becomes familiar with the medication. Inform your physician immediately if you continue to experience these side effects or if they become more severe as you progress through treatment. They can decide to adjust the dosage to alleviate the side effects or suggest other alternative forms of treatment that may work better for you.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<%= _.template(require('../includes/block-w-image-grey.html').default)({}) %>

<section class="block-with-image">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="title-block">
          <h2>Possible Side Effects</h2>
        </div>
        <div class="block-content">
          <p>
            Although Tirzepatide can help treat Type 2 diabetics, it should not be used as a treatment for people with Type 1 diabetes. Like most prescription medications, Tirzepatide contains other ingredients that can cause some patients to experience allergic reactions, so you may need to avoid using the medicine if you suddenly break out in a rash or have trouble breathing after starting treatment. Tirzepatide may also cause or even worsen other serious health complications, so your healthcare provider may recommend that you avoid using the medication if you suffer from pre-existing medical conditions such as:
          </p>
          <ul>
            <li>Gallbladder issues such as gallstones</li>
            <li>Pancreatitis</li>
            <li>Kidney complications such as acute kidney failure</li>
            <li>Gastrointestinal disease</li>
            <li>Diabetic retinopathy</li>
            <li>Type 2 Multiple Endocrine Neoplasia syndrome (MEN2)</li>
          </ul>
          <p>
            Tirzepatide may also increase the risks of thyroid tumors, so your healthcare provider may recommend that you avoid using the treatment if you or other family members have a history of thyroid cancer. Make sure to discuss your full medical history and any allergies you may have with your doctor so they can weigh the risks and the benefits of using the medication to determine whether Tirzepatide will work as a viable weight loss treatment for you.
          </p>
          <p>
            Women who are pregnant or breastfeeding should also avoid using Tirzepatide as the medicine may harm the unborn fetus or pass through the breastmilk and negatively affect newborns. Naturally, always inform your physician of sudden life changes, such as an unexpected pregnancy, before or during Tirzepatide. They can help you safely discontinue the medication so you can remain healthy and free of complications as you prepare to give birth.
          </p>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="image-wrapper">
          <img src="./img/block-image1.png" alt="">
        </div>
      </div>
    </div>
  </div>
</section>



<section class="image-banner-section image-banner-section-third">
  <div class="container">
    <div class="image-banner back-grey">
      <div class="row">
        <div class="col-lg-6">
          <div class="image-banner-content">
            <div class="h3">It's not a miracle, it's metabolic science.</div>
            <div class="banner-description">
              <p>Traditional dieting frequently proves ineffective, with genetics influencing approximately 70% of an individual's weight.</p>
              <p>Medications provide a fresh approach, harmonizing with your body's processes to promote sustainable and healthy weight loss results.</p>
            </div>
            <div class="image-banner-links">
              <a href="#" class="btn btn-black">Get Started</a>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="image-wrapper">
            <img src="./img/banner-image2.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%= _.template(require('../includes/author-post.html').default)({}) %>

<%= _.template(require('../includes/specialists-section.html').default)({}) %>

<%= _.template(require('../includes/faq-section.html').default)({}) %>

<!--footer.html-->
<%= _.template(require('../includes/common/footer.html').default)({}) %>
