<!--header.html-->
<%= _.template(require('../includes/common/header.html').default)({}) %>





<section class="staff-section">
  <div class="container">
    <div class="title-head">
      <h1>Medical Team</h1>
    </div>
    <div class="row block-pc">
      <div class="col-lg-3 col-md-4 col-md-4">
        <div class="staff-card">
          <div class="staff-image">
            <img src="./img/img-staff(20).png" alt="">
          </div>
          <div class="staff-content">
            <div class="staff-name">Dr. Thierry Jacquemin</div>
            <div class="staff-description"><p>Dr. Gary T. Marshall, MD, FACS practices in the New York City...</p></div>
            <a href="#" class="staff-link">Learn more</a>
          </div>
        </div>
        <div class="staff-card">
          <div class="staff-image">
            <img src="./img/img-staff(20).png" alt="">
          </div>
          <div class="staff-content">
            <div class="staff-name">Dr. Thierry Jacquemin</div>
            <div class="staff-description"><p>Dr. Gary T. Marshall, MD, FACS practices in the New York City...</p></div>
            <a href="#" class="staff-link">Learn more</a>
          </div>
        </div>
        <div class="staff-card">
          <div class="staff-image">
            <img src="./img/img-staff(20).png" alt="">
          </div>
          <div class="staff-content">
            <div class="staff-name">Dr. Thierry Jacquemin</div>
            <div class="staff-description"><p>Dr. Gary T. Marshall, MD, FACS practices in the New York City...</p></div>
            <a href="#" class="staff-link">Learn more</a>
          </div>
        </div>
        <div class="staff-card">
          <div class="staff-image">
            <img src="./img/img-staff(20).png" alt="">
          </div>
          <div class="staff-content">
            <div class="staff-name">Dr. Thierry Jacquemin</div>
            <div class="staff-description"><p>Dr. Gary T. Marshall, MD, FACS practices in the New York City...</p></div>
            <a href="#" class="staff-link">Learn more</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4">
        <div class="staff-card">
          <div class="staff-image">
            <img src="./img/img-staff(20).png" alt="">
          </div>
          <div class="staff-content">
            <div class="staff-name">Dr. Thierry Jacquemin</div>
            <div class="staff-description"><p>Dr. Gary T. Marshall, MD, FACS practices in the New York City...</p></div>
            <a href="#" class="staff-link">Learn more</a>
          </div>
        </div>
        <div class="staff-card">
          <div class="staff-image">
            <img src="./img/img-staff(20).png" alt="">
          </div>
          <div class="staff-content">
            <div class="staff-name">Dr. Thierry Jacquemin</div>
            <div class="staff-description"><p>Dr. Gary T. Marshall, MD, FACS practices in the New York City...</p></div>
            <a href="#" class="staff-link">Learn more</a>
          </div>
        </div>
        <div class="staff-card">
          <div class="staff-image">
            <img src="./img/img-staff(20).png" alt="">
          </div>
          <div class="staff-content">
            <div class="staff-name">Dr. Thierry Jacquemin</div>
            <div class="staff-description"><p>Dr. Gary T. Marshall, MD, FACS practices in the New York City...</p></div>
            <a href="#" class="staff-link">Learn more</a>
          </div>
        </div>
        <div class="staff-card">
          <div class="staff-image">
            <img src="./img/img-staff(20).png" alt="">
          </div>
          <div class="staff-content">
            <div class="staff-name">Dr. Thierry Jacquemin</div>
            <div class="staff-description"><p>Dr. Gary T. Marshall, MD, FACS practices in the New York City...</p></div>
            <a href="#" class="staff-link">Learn more</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4">
        <div class="staff-card">
          <div class="staff-image">
            <img src="./img/img-staff(20).png" alt="">
          </div>
          <div class="staff-content">
            <div class="staff-name">Dr. Thierry Jacquemin</div>
            <div class="staff-description"><p>Dr. Gary T. Marshall, MD, FACS practices in the New York City...</p></div>
            <a href="#" class="staff-link">Learn more</a>
          </div>
        </div>
        <div class="staff-card">
          <div class="staff-image">
            <img src="./img/img-staff(20).png" alt="">
          </div>
          <div class="staff-content">
            <div class="staff-name">Dr. Thierry Jacquemin</div>
            <div class="staff-description"><p>Dr. Gary T. Marshall, MD, FACS practices in the New York City...</p></div>
            <a href="#" class="staff-link">Learn more</a>
          </div>
        </div>
        <div class="staff-card">
          <div class="staff-image">
            <img src="./img/img-staff(20).png" alt="">
          </div>
          <div class="staff-content">
            <div class="staff-name">Dr. Thierry Jacquemin</div>
            <div class="staff-description"><p>Dr. Gary T. Marshall, MD, FACS practices in the New York City...</p></div>
            <a href="#" class="staff-link">Learn more</a>
          </div>
        </div>
        <div class="staff-card">
          <div class="staff-image">
            <img src="./img/img-staff(20).png" alt="">
          </div>
          <div class="staff-content">
            <div class="staff-name">Dr. Thierry Jacquemin</div>
            <div class="staff-description"><p>Dr. Gary T. Marshall, MD, FACS practices in the New York City...</p></div>
            <a href="#" class="staff-link">Learn more</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4">
        <div class="staff-card">
          <div class="staff-image">
            <img src="./img/img-staff(20).png" alt="">
          </div>
          <div class="staff-content">
            <div class="staff-name">Dr. Thierry Jacquemin</div>
            <div class="staff-description"><p>Dr. Gary T. Marshall, MD, FACS practices in the New York City...</p></div>
            <a href="#" class="staff-link">Learn more</a>
          </div>
        </div>
        <div class="staff-card">
          <div class="staff-image">
            <img src="./img/img-staff(20).png" alt="">
          </div>
          <div class="staff-content">
            <div class="staff-name">Dr. Thierry Jacquemin</div>
            <div class="staff-description"><p>Dr. Gary T. Marshall, MD, FACS practices in the New York City...</p></div>
            <a href="#" class="staff-link">Learn more</a>
          </div>
        </div>
        <div class="staff-card">
          <div class="staff-image">
            <img src="./img/img-staff(20).png" alt="">
          </div>
          <div class="staff-content">
            <div class="staff-name">Dr. Thierry Jacquemin</div>
            <div class="staff-description"><p>Dr. Gary T. Marshall, MD, FACS practices in the New York City...</p></div>
            <a href="#" class="staff-link">Learn more</a>
          </div>
        </div>
        <div class="staff-card">
          <div class="staff-image">
            <img src="./img/img-staff(20).png" alt="">
          </div>
          <div class="staff-content">
            <div class="staff-name">Dr. Thierry Jacquemin</div>
            <div class="staff-description"><p>Dr. Gary T. Marshall, MD, FACS practices in the New York City...</p></div>
            <a href="#" class="staff-link">Learn more</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row block-tablet">
      <div class="col-md-4">
        <div class="staff-card">
          <div class="staff-image">
            <img src="./img/img-staff(20).png" alt="">
          </div>
          <div class="staff-content">
            <div class="staff-name">Dr. Thierry Jacquemin</div>
            <div class="staff-description"><p>Dr. Gary T. Marshall, MD, FACS practices in the New York City...</p></div>
            <a href="#" class="staff-link">Learn more</a>
          </div>
        </div>
        <div class="staff-card">
          <div class="staff-image">
            <img src="./img/img-staff(20).png" alt="">
          </div>
          <div class="staff-content">
            <div class="staff-name">Dr. Thierry Jacquemin</div>
            <div class="staff-description"><p>Dr. Gary T. Marshall, MD, FACS practices in the New York City...</p></div>
            <a href="#" class="staff-link">Learn more</a>
          </div>
        </div>
        <div class="staff-card">
          <div class="staff-image">
            <img src="./img/img-staff(20).png" alt="">
          </div>
          <div class="staff-content">
            <div class="staff-name">Dr. Thierry Jacquemin</div>
            <div class="staff-description"><p>Dr. Gary T. Marshall, MD, FACS practices in the New York City...</p></div>
            <a href="#" class="staff-link">Learn more</a>
          </div>
        </div>
        <div class="staff-card">
          <div class="staff-image">
            <img src="./img/img-staff(20).png" alt="">
          </div>
          <div class="staff-content">
            <div class="staff-name">Dr. Thierry Jacquemin</div>
            <div class="staff-description"><p>Dr. Gary T. Marshall, MD, FACS practices in the New York City...</p></div>
            <a href="#" class="staff-link">Learn more</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="staff-card">
          <div class="staff-image">
            <img src="./img/img-staff(20).png" alt="">
          </div>
          <div class="staff-content">
            <div class="staff-name">Dr. Thierry Jacquemin</div>
            <div class="staff-description"><p>Dr. Gary T. Marshall, MD, FACS practices in the New York City...</p></div>
            <a href="#" class="staff-link">Learn more</a>
          </div>
        </div>
        <div class="staff-card">
          <div class="staff-image">
            <img src="./img/img-staff(20).png" alt="">
          </div>
          <div class="staff-content">
            <div class="staff-name">Dr. Thierry Jacquemin</div>
            <div class="staff-description"><p>Dr. Gary T. Marshall, MD, FACS practices in the New York City...</p></div>
            <a href="#" class="staff-link">Learn more</a>
          </div>
        </div>
        <div class="staff-card">
          <div class="staff-image">
            <img src="./img/img-staff(20).png" alt="">
          </div>
          <div class="staff-content">
            <div class="staff-name">Dr. Thierry Jacquemin</div>
            <div class="staff-description"><p>Dr. Gary T. Marshall, MD, FACS practices in the New York City...</p></div>
            <a href="#" class="staff-link">Learn more</a>
          </div>
        </div>
        <div class="staff-card">
          <div class="staff-image">
            <img src="./img/img-staff(20).png" alt="">
          </div>
          <div class="staff-content">
            <div class="staff-name">Dr. Thierry Jacquemin</div>
            <div class="staff-description"><p>Dr. Gary T. Marshall, MD, FACS practices in the New York City...</p></div>
            <a href="#" class="staff-link">Learn more</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="staff-card">
          <div class="staff-image">
            <img src="./img/img-staff(20).png" alt="">
          </div>
          <div class="staff-content">
            <div class="staff-name">Dr. Thierry Jacquemin</div>
            <div class="staff-description"><p>Dr. Gary T. Marshall, MD, FACS practices in the New York City...</p></div>
            <a href="#" class="staff-link">Learn more</a>
          </div>
        </div>
        <div class="staff-card">
          <div class="staff-image">
            <img src="./img/img-staff(20).png" alt="">
          </div>
          <div class="staff-content">
            <div class="staff-name">Dr. Thierry Jacquemin</div>
            <div class="staff-description"><p>Dr. Gary T. Marshall, MD, FACS practices in the New York City...</p></div>
            <a href="#" class="staff-link">Learn more</a>
          </div>
        </div>
        <div class="staff-card">
          <div class="staff-image">
            <img src="./img/img-staff(20).png" alt="">
          </div>
          <div class="staff-content">
            <div class="staff-name">Dr. Thierry Jacquemin</div>
            <div class="staff-description"><p>Dr. Gary T. Marshall, MD, FACS practices in the New York City...</p></div>
            <a href="#" class="staff-link">Learn more</a>
          </div>
        </div>
        <div class="staff-card">
          <div class="staff-image">
            <img src="./img/img-staff(20).png" alt="">
          </div>
          <div class="staff-content">
            <div class="staff-name">Dr. Thierry Jacquemin</div>
            <div class="staff-description"><p>Dr. Gary T. Marshall, MD, FACS practices in the New York City...</p></div>
            <a href="#" class="staff-link">Learn more</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row block-mobile">
      <div class="col-m-12">
        <div class="staff-card">
          <div class="staff-image">
            <img src="./img/img-staff(20).png" alt="">
          </div>
          <div class="staff-content">
            <div class="staff-name">Dr. Thierry Jacquemin</div>
            <div class="staff-description"><p>Dr. Gary T. Marshall, MD, FACS practices in the New York City...</p></div>
            <a href="#" class="staff-link">Learn more</a>
          </div>
        </div>
        <div class="staff-card">
          <div class="staff-image">
            <img src="./img/img-staff(20).png" alt="">
          </div>
          <div class="staff-content">
            <div class="staff-name">Dr. Thierry Jacquemin</div>
            <div class="staff-description"><p>Dr. Gary T. Marshall, MD, FACS practices in the New York City...</p></div>
            <a href="#" class="staff-link">Learn more</a>
          </div>
        </div>
        <div class="staff-card">
          <div class="staff-image">
            <img src="./img/img-staff(20).png" alt="">
          </div>
          <div class="staff-content">
            <div class="staff-name">Dr. Thierry Jacquemin</div>
            <div class="staff-description"><p>Dr. Gary T. Marshall, MD, FACS practices in the New York City...</p></div>
            <a href="#" class="staff-link">Learn more</a>
          </div>
        </div>
        <div class="staff-card">
          <div class="staff-image">
            <img src="./img/img-staff(20).png" alt="">
          </div>
          <div class="staff-content">
            <div class="staff-name">Dr. Thierry Jacquemin</div>
            <div class="staff-description"><p>Dr. Gary T. Marshall, MD, FACS practices in the New York City...</p></div>
            <a href="#" class="staff-link">Learn more</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<!--footer.html-->
<%= _.template(require('../includes/common/footer.html').default)({}) %>
